<h1>Edit your Comment</h1>

<p><%= @comment.text %></p>


<%= form_for @comment do |c| %>
  Text: <%= c.text_field :text %>

  <%= c.submit "Submit Beast" %>

<% end %>

<%= button_to "Delete", comment_path(@comment), method: :delete %>

<%= link_to "Back to Comments", new_comment_path %>