<h1>Edit your Comment</h1>

<p><%= "\"#{@comment.text}\"" %></p>

<div class="col-md-6 col-md-offset-3">
  <%= form_for @comment, html:{class: "well well-lg"} do |c| %>
    <%= c.text_field :text, class: "form-control input-lg" %>

    <%= c.submit "Submit Changes", class: "btn btn-block btn-primary btn-lg" %>

  <% end %>

  <button class="btn btn-danger">
    <%= link_to "Delete", comment_path(@comment), method: :delete %>
  </button>

  <%= link_to "Back to Comments", new_comment_path %>
</div>