<div id="background-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image:url(<%= asset_path "homepage.jpg" %>)"></div>
        <% @images.shuffle.each do |i| %>
          <div class="item" style="background-image:url(
          <%= i.image.url %>)" ng-click="modal('<%= i.cuisine %>', '<%= i.restaurant %>', '<%= i.location %>', '<%= i.user.name %>')"></div>
        <% end %> 
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"><</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">></a>
</div>