<!DOCTYPE html>
<html ng-app="wetApp">
<head>
  <title>What2EatTonight</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Visual selection of what to eat tonight. A visual representation of food near you.">
  <meta name="author" content="Ian Goldfarb">
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
</head>
<body ng-controller="wetController">

  <!-- MENU -->
  <div class="menu-container">
      <div class="col-xs-9 menu">
        <%= link_to image_tag("WE2T_logo.png", class: "logo"), root_path %>
        <h1>MENU</h1>
          <p><%= "Welcome, #{current_user.name}!" if current_user%></p>
          <p><%=link_to "Log in", new_session_path if !current_user%></p>
          <p><%=link_to "Register", new_user_path if !current_user%></p>
          <p><%= link_to "Logout", session_path, method: :delete if current_user%></p>
          </br>
          <p><%= "Why register today?" if !current_user %></p>
          <p><%= "Access to our Comments Gallery!" if !current_user %></p>
          <p><%= "Ability to add your own restaurant food pics!" if !current_user %></p>
          <h2><%= link_to "Comments Gallery", new_comment_path if current_user%></h2>
          <h2><%= link_to "Add an New Image to Our Site", new_images_path if current_user%></h2>
      <h2><%= link_to "Yelp Scraper", yelp_index_path if current_user%></h2>
       <h2><%= link_to "Yelp API", data_path if current_user%></h2>
      </div>
      <div class="col-xs-3 menu-hover"></div>
  </div>

  <!-- User Name -->
  <h3 class= "user pull-right"><%= "#{current_user.name}" if current_user%></h3><!-- 
  <h1><%= link_to "Go To The Comments Section", new_comment_path if current_user %></h1> -->

  <!-- IMAGES -->
  <div></div>
  <div class="container-fluid">
    <div class="row">

        <%= yield %> <!-- NOTE THE YIELD!!! -->


    </div>
  </div>

  <!-- CONTACT -->
  <div class="contact-container">
    <button type="button" class="btn btn-default pull-left">
      <span class="glyphicon glyphicon-star"></span>
    </button>
    <p class="creator"> Created by: <a href="https://github.com/Superman2971">Ian Goldfarb</a></p>
  </div>

</body>
</html>