<!DOCTYPE html>
<html ng-app="wetApp">
<head>
  <title>What2EatTonight</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Visual selection of what to eat tonight. A visual representation of food near you.">
  <meta name="author" content="Ian Goldfarb">
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
</head>
<body ng-controller="wetController">

  <%= render 'layouts/menu' %>

  <!-- User Name -->
  <h3 class= "user pull-right"><%= "#{current_user.name}" if current_user%></h3>

  <!-- IMAGES/FORMS YIELD -->
  <div></div>
  <div class="container-fluid">
    <div class="row">

        <%= yield %>


    </div>
  </div>

  <!-- CONTACT -->
  <div class="contact-container">
    <button type="button" class="btn btn-default pull-left">
      <span class="glyphicon glyphicon-star"></span>
    </button>
    <p class="creator"> Created by: <a href="https://github.com/Superman2971">Ian Goldfarb</a></p>
  </div>

</body>
</html>