<!DOCTYPE html>
<html>
<head>
  <title>What2EatTonight</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Visual selection of what to eat tonight. A visual representation of food near you.">
  <meta name="author" content="Ian Goldfarb">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "wet", media: "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "wet" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="wetController">
  <!-- MENU -->
  <div class="menu-container">
      <div class="col-xs-9 menu">Menu</div>
      <div class="col-xs-3 menu-hover"></div>
  </div>

  <!-- IMAGES -->
  <div></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">IMAGERY WILL LIVE HERE

        <%= yield %> <!-- NOTE THE YIELD!!! -->
        <h1> Test: <%= yield(:title) %> </h1>
      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div class="contact-container">
    <button type="button" class="btn btn-default pull-left">
      <span class="glyphicon glyphicon-star"></span>
    </button>
    <p class="creator"> Created by: <a href="#">Ian Goldfarb</a></p>
  </div>
</body>
</html>